spring:
  application:
    name: event-ticket-consumer
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: event-ticket-consumer-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
    properties:
      schema.registry.url: http://localhost:8081
      specific.avro.reader: true
    listener:
      concurrency: 3
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    url: jdbc:postgresql://localhost:5432/ticketdb
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

app:
  kafka:
    topics:
      ticket-reserved: ticket-reserved
